env {
    // process performance
    K8S_PROCESS_CPU_LOW = "${K8S_PROCESS_CPU_LOW}"
    K8S_PROCESS_CPU_HIGH = "${K8S_PROCESS_CPU_HIGH}"
    K8S_PROCESS_MEMORY_VERY_LOW = "${K8S_PROCESS_MEMORY_VERY_LOW}"
    K8S_PROCESS_MEMORY_LOW = "${K8S_PROCESS_MEMORY_LOW}"
    K8S_PROCESS_MEMORY_MEDIUM = "${K8S_PROCESS_MEMORY_MEDIUM}"
    K8S_PROCESS_MEMORY_HIGH = "${K8S_PROCESS_MEMORY_HIGH}"
    K8S_PROCESS_MEMORY_VERY_HIGH = "${K8S_PROCESS_MEMORY_VERY_HIGH}"

    NXF_WORK = "${NXF_WORK}"
    NXF_EXECUTOR = "${NXF_EXECUTOR}"
    NXF_ANSI_LOG = "${NXF_ANSI_LOG}"
    NXF_OPTS = "${NXF_OPTS}"
}

params {
    // illumina workflow config
    // Example of illumina sample: 12704506_S01_L001_R1_001.fq.gz
    // See: https://support.illumina.com/help/BaseSpace_OLH_009008/Content/Source/Informatics/BS/NamingConvention_FASTQ-files-swBS.htm
    illuminaPrefixes = false
    illuminaSuffixes = [ '*_S{*}_L{*}_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = [ '.fastq.gz', '.fq.gz' ]
}
