// this config tells ncov how to run the illumina workflow

includeConfig 'ncov-common.config'

process {
    // default directives. These can be fine-tuned per process
    executor = 'local'
    cpus = "${env.PROCESS_CPU_LOW}"

    //withName:readTrimming {
    //    // trimgalore requires 2 CPUs
    //    cpus = "${env.PROCESS_CPU_HIGH}"
    //}
}
