env {
    // process performance
    PROCESS_CPU_LOW = "${PROCESS_CPU_LOW}"
    PROCESS_CPU_HIGH = "${PROCESS_CPU_HIGH}"
    PROCESS_MEMORY_VERY_LOW = "${PROCESS_MEMORY_VERY_LOW}"
    PROCESS_MEMORY_LOW = "${PROCESS_MEMORY_LOW}"
    PROCESS_MEMORY_MEDIUM = "${PROCESS_MEMORY_MEDIUM}"
    PROCESS_MEMORY_HIGH = "${PROCESS_MEMORY_HIGH}"
    PROCESS_MEMORY_VERY_HIGH = "${PROCESS_MEMORY_VERY_HIGH}"

    // retain these variables. This file is passed through nextflow command line, using -config, and that is the reason why they work here
    // If loaded from nextflow.config, these are useless
    NXF_ANSI_LOG = "false"
    NXF_OPTS = "${NXF_OPTS}"
}

params {
    // illumina workflow config
    // Example of illumina sample: 12704506_S01_L001_R1_001.fq.gz
    // See: https://support.illumina.com/help/BaseSpace_OLH_009008/Content/Source/Informatics/BS/NamingConvention_FASTQ-files-swBS.htm
    illuminaPrefixes = false
    illuminaSuffixes = [ '*_S{*}_L{*}_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = [ '.fastq.gz', '.fq.gz' ]
}
