// load the common config
includeConfig './common/common.config'

manifest {
    name = 'Congenica PSGA/SARS-CoV-2 pipeline'
    description = 'Pathogen Sequence Genome Analysis pipeline for SARS-CoV-2 pathogen'
    author = 'Congenica'
    homePage = 'https://www.congenica.com/'
    mainScript = 'main.nf'
    nextflowVersion = '>= 21.10.4'
    version = '1.0.0'
}

env {
    // enable configuration of the name for the main docker image
    // this is needed only because the images are currently pushed on both Congenica ECR and psga-dev ECR.
    // In congenica ECR, the image is registered as psga-pipeline, whereas in psga-dev is registered as sars-cov-2-pipeline.
    // sars-cov-2-pipeline is the correct name and when we detach from Congenica ECR completely, this configuration can be removed.
    SARS_COV_2_PIPELINE_DOCKER_IMAGE = "${SARS_COV_2_PIPELINE_DOCKER_IMAGE}"

    // docker image tag config
    SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG = "${SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
    NCOV2019_ARTIC_NF_ILLUMINA_DOCKER_IMAGE_TAG = "${NCOV2019_ARTIC_NF_ILLUMINA_DOCKER_IMAGE_TAG}"
    NCOV2019_ARTIC_NF_NANOPORE_DOCKER_IMAGE_TAG = "${NCOV2019_ARTIC_NF_NANOPORE_DOCKER_IMAGE_TAG}"
    PANGOLIN_DOCKER_IMAGE_TAG = "${PANGOLIN_DOCKER_IMAGE_TAG}"
}

params {
    // for this workflow, the sequencing_technology can be 'unknown' | 'illumina' | 'ont'. See common.config

    // ncov-artic pipeline parameters
    // ONT/medaka parameters used by
    // artic minion
    // {pore}_{device}_{caller variant}_{caller version}
    medaka_model = 'r941_min_hac_variant_g507'
    normalise = 200
    //guppyplex
    min_len = null
    max_len = null

    /* pipeline internal parameters */
    // read-it-and-keep reference genome fasta without the poly-A tail
    rik_ref_genome_fasta = "/usr/local/read-it-and-keep/MN908947.3.no_poly_A.fa"
    ncov_qc_empty_csv = "/app/scripts/sars_cov_2/ncov_qc_empty.csv"
    pangolin_empty_csv = "/app/scripts/sars_cov_2/pangolin_empty.csv"
}

process {

    // NOTE: processes that are not listed below, are executed in the container where the main pipeline runs
    // (executor=local by default).

    // For processes running samples in parallel, ignore on repeated failure,
    // so that the failure of a sample does not affect the analysis run

    withName:check_metadata {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
    }

    withName:fastqc {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
        errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }

    if ( params.sequencing_technology == "illumina" ) {
        withName:bam_to_fastq_illumina {
            executor = 'k8s'
            container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-illumina:${env.NCOV2019_ARTIC_NF_ILLUMINA_DOCKER_IMAGE_TAG}"
            memory = { "${env.K8S_PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        withName:contamination_removal_illumina {
            executor = 'k8s'
            container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        // use more memory as this process runs a nextflow pipeline (Java)
        withName:ncov2019_artic_nf_pipeline_illumina {
            executor = 'k8s'
            container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-illumina:${env.NCOV2019_ARTIC_NF_ILLUMINA_DOCKER_IMAGE_TAG}"
            memory = { "${env.K8S_PROCESS_MEMORY_VERY_HIGH}" as int * 1.MB * task.attempt }
            // trimgalore requires 2 CPUS
            cpus = "${env.K8S_PROCESS_CPU_HIGH}"
            // if ncov sample dies, carry on with the other ncov samples
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }
    } else if ( params.sequencing_technology == "ont" ) {
        withName:bam_to_fastq_ont {
            executor = 'k8s'
            container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.NCOV2019_ARTIC_NF_NANOPORE_DOCKER_IMAGE_TAG}"
            memory = { "${env.K8S_PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        withName:contamination_removal_ont {
            executor = 'k8s'
            container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        // use more memory as this process runs a nextflow pipeline (Java)
        withName:ncov2019_artic_nf_pipeline_medaka {
            executor = 'k8s'
            container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.NCOV2019_ARTIC_NF_NANOPORE_DOCKER_IMAGE_TAG}"
            memory = { "${env.K8S_PROCESS_MEMORY_VERY_HIGH}" as int * 1.MB * task.attempt }
            // if the computation for 1 sample dies, do not interrupt the computation for the other samples
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }
    }

    withName:reheader_fasta {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
        memory = { "${env.K8S_PROCESS_MEMORY_MEDIUM}" as int * 1.MB * task.attempt }
        errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }

    withName:store_reheadered_qc_passed_fasta {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
    }

    withName:store_reheadered_qc_failed_fasta {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
    }

    withName:pangolin_pipeline {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/pangolin:${env.PANGOLIN_DOCKER_IMAGE_TAG}"
        memory = { "${env.K8S_PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
        // if the computation for 1 sample dies, do not interrupt the computation for the other samples
        errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }

    withName:submit_ncov_results {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
    }
    withName:submit_pangolin_results {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
    }
    withName:submit_pipeline_results_files {
        executor = 'k8s'
        container = "${env.DOCKER_IMAGE_PREFIX}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE_TAG}"
    }

}
