// load the common config
includeConfig './common/common.config'

manifest {
    name = 'Congenica PSGA/SARS-CoV-2 pipeline'
    description = 'Pathogen Sequence Genome Analysis pipeline for SARS-CoV-2 pathogen'
    author = 'Congenica'
    homePage = 'https://www.congenica.com/'
    mainScript = 'main.nf'
    nextflowVersion = '>= 21.10.4'
    version = '1.0.0'
}

env {
    // enable configuration of the name for the main docker image
    // this is needed only because the images are currently pushed on both Congenica ECR and psga-dev ECR.
    // In congenica ECR, the image is registered as psga-pipeline, whereas in psga-dev is registered as sars-cov-2-pipeline.
    // sars-cov-2-pipeline is the correct name and when we detach from Congenica ECR completely, this configuration can be removed.
    SARS_COV_2_PIPELINE_DOCKER_IMAGE = "${SARS_COV_2_PIPELINE_DOCKER_IMAGE?:'sars-cov-2-pipeline'}"
}

params {
    // for this workflow, the sequencing_technology can be 'unknown' | 'illumina' | 'ont'. See common.config

    // ncov-artic pipeline parameters
    // ONT/medaka parameters used by
    // artic minion
    // {pore}_{device}_{caller variant}_{caller version}
    medaka_model = 'r941_min_hac_variant_g507'
    normalise = 200
    //guppyplex
    min_len = null
    max_len = null

    // read-it-and-keep reference genome fasta without the poly-A tail
    rik_ref_genome_fasta = "/MN908947.3.no_poly_A.fa"
    fastqc_limits = "/limits.txt"
    ncov2019_artic_nf_typing_gff = "/MN908947.3.gff"
    ncov2019_artic_nf_typing_yaml = "/SARS-CoV-2.types.yaml"

    // primer-autodetection
    primer_base_window = 50
    porechop_extra_end_trim = 0

    contamination_removal_empty_csv = "/app/scripts/sars_cov_2/contamination_removal_empty.csv"
    primer_autodetection_empty_csv = "/app/scripts/sars_cov_2/primer_autodetection_empty.csv"
    ncov_qc_empty_csv = "/app/scripts/sars_cov_2/ncov_qc_empty.csv"
    ncov_typing_empty_csv = "/app/scripts/sars_cov_2/ncov_typing_empty.csv"
    pangolin_empty_csv = "/app/scripts/sars_cov_2/pangolin_empty.csv"
}

process {
    // default directives
    container = "${env.DOCKER_IMAGE_URI_PATH}/${env.SARS_COV_2_PIPELINE_DOCKER_IMAGE}:${env.DOCKER_IMAGE_TAG}"

    // For processes running samples in parallel, ignore on repeated failure,
    // so that the failure of a sample does not affect the analysis run

    withName:fastqc {
        container = "${env.DOCKER_IMAGE_URI_PATH}/fastqc:${env.DOCKER_IMAGE_TAG}"
        errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }

    withName:primer_autodetection {
        container = "${env.DOCKER_IMAGE_URI_PATH}/primer-autodetection:${env.DOCKER_IMAGE_TAG}"
        // more resources due to trim algorithms
        cpus = "${env.PROCESS_CPU_HIGH}"
        memory = { "${env.PROCESS_MEMORY_VERY_HIGH}" as int * 1.MB * task.attempt }
        errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }

    if ( params.sequencing_technology == "illumina" ) {
        withName:bam_to_fastq_illumina {
            container = "${env.DOCKER_IMAGE_URI_PATH}/htstools:${env.DOCKER_IMAGE_TAG}"
            memory = { "${env.PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        withName:contamination_removal_illumina {
            container = "${env.DOCKER_IMAGE_URI_PATH}/read-it-and-keep:${env.DOCKER_IMAGE_TAG}"
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        // use more memory as this process runs a nextflow pipeline (Java)
        withName:ncov2019_artic_nf_pipeline_illumina {
            container = "${env.DOCKER_IMAGE_URI_PATH}/ncov2019-artic-nf-illumina:${env.DOCKER_IMAGE_TAG}"
            memory = { "${env.PROCESS_MEMORY_VERY_HIGH}" as int * 1.MB * task.attempt }
            // trimgalore requires 2 CPUS
            cpus = "${env.PROCESS_CPU_HIGH}"
            // if ncov sample dies, carry on with the other ncov samples
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }
    } else if ( params.sequencing_technology == "ont" ) {
        withName:bam_to_fastq_ont {
            container = "${env.DOCKER_IMAGE_URI_PATH}/htstools:${env.DOCKER_IMAGE_TAG}"
            memory = { "${env.PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        withName:contamination_removal_ont {
            container = "${env.DOCKER_IMAGE_URI_PATH}/read-it-and-keep:${env.DOCKER_IMAGE_TAG}"
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }

        // use more memory as this process runs a nextflow pipeline (Java)
        withName:ncov2019_artic_nf_pipeline_medaka {
            container = "${env.DOCKER_IMAGE_URI_PATH}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
            memory = { "${env.PROCESS_MEMORY_VERY_HIGH}" as int * 1.MB * task.attempt }
            // if the computation for 1 sample dies, do not interrupt the computation for the other samples
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }
    } else if ( params.sequencing_technology == "unknown" ) {
        withName:reheader_fasta {
            memory = { "${env.PROCESS_MEMORY_MEDIUM}" as int * 1.MB * task.attempt }
            errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
        }
    }

    withName:pangolin_pipeline {
        container = "${env.DOCKER_IMAGE_URI_PATH}/pangolin:${env.DOCKER_IMAGE_TAG}"
        memory = { "${env.PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
        // if the computation for 1 sample dies, do not interrupt the computation for the other samples
        errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }
}
