// load the main config
includeConfig './common/common.config'

manifest {
    name = "Congenica PSGA/synthetic pipeline"
    description = "Pathogen Sequence Genome Analysis pipeline for a synthetic pathogen (proof-of-concept)"
    author = 'Congenica'
    homePage = 'https://www.congenica.com/'
    mainScript = 'main.nf'
    nextflowVersion = '>= 21.10.4'
    version = '1.0.0'
}

process {
    // default directives
    container = "${env.DOCKER_IMAGE_URI_PATH}/synthetic-pipeline:${env.DOCKER_IMAGE_TAG}"

    withName:fastqc {
        errorStrategy = { (task.exitStatus != 0 && task.attempt <= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }
}
