env {
    PSGA_ROOT_PATH = "/app"

    // docker image config
    DOCKER_IMAGE_URI_PATH = "${DOCKER_IMAGE_URI_PATH}"
    DOCKER_IMAGE_TAG = "${DOCKER_IMAGE_TAG}"

    // aws config
    AWS_CONNECTION_TIMEOUT = "${AWS_CONNECTION_TIMEOUT?:'1000000'}"
    AWS_MAX_CONNECTIONS = "${AWS_MAX_CONNECTIONS?:'20'}"
    AWS_MAX_PARALLEL_TRANSFERS = "${AWS_MAX_PARALLEL_TRANSFERS?:'10'}"

    // aws batch config
    QUEUE = "${QUEUE}"

    // k8s config
    K8S_NODE = "${K8S_NODE}"
    K8S_PULL_POLICY = "${K8S_PULL_POLICY?:'Always'}"
    K8S_SERVICE_ACCOUNT = "${K8S_SERVICE_ACCOUNT}"
    K8S_STORAGE_CLAIM_NAME = "${K8S_STORAGE_CLAIM_NAME}"
    K8S_STORAGE_MOUNT_PATH = "${K8S_STORAGE_MOUNT_PATH}"

    // Process
    QUEUE_SIZE = "${QUEUE_SIZE}"
    PROCESS_MAX_RETRIES = "${PROCESS_MAX_RETRIES?:'3'}"
    PROCESS_CPU_LOW = "${PROCESS_CPU_LOW?:'1'}"
    PROCESS_CPU_HIGH = "${PROCESS_CPU_HIGH?:'2'}"
    PROCESS_MEMORY_VERY_LOW = "${PROCESS_MEMORY_VERY_LOW?:'8000'}"
    PROCESS_MEMORY_LOW = "${PROCESS_MEMORY_LOW?:'8000'}"
    PROCESS_MEMORY_MEDIUM = "${PROCESS_MEMORY_MEDIUM?:'8000'}"
    PROCESS_MEMORY_HIGH = "${PROCESS_MEMORY_HIGH?:'6000'}"
    PROCESS_MEMORY_VERY_HIGH = "${PROCESS_MEMORY_VERY_HIGH?:'16000'}"

    SARS_COV_2_PIPELINE_DOCKER_IMAGE = "${SARS_COV_2_PIPELINE_DOCKER_IMAGE?:'sars-cov-2-pipeline'}"
    NCOV_DOCKER_IMAGE_NAME = "ncov2019-artic-nf-${params.sequencing_technology}"

    RESOURCE_MOUNT_POINT = "${RESOURCE_MOUNT_POINT?:'/app/resources'}"

}

params {
    // TODO: Handle this MUCH better
    contamination_removal_empty_csv = "/app/scripts/contamination_removal_empty.csv"
    primer_autodetection_empty_csv = "/app/scripts/primer_autodetection_empty.csv"
    ncov_qc_empty_csv = "/app/scripts/ncov_qc_empty.csv"
    ncov_typing_empty_csv = "/app/scripts/ncov_typing_empty.csv"
    pangolin_empty_csv = "/app/scripts/pangolin_empty.csv"
}
