env {
    PSGA_ROOT_PATH = "/app"

    PROCESS_MAX_RETRIES = "${PROCESS_MAX_RETRIES?:'3'}"
    PROCESS_CPU_LOW = "${PROCESS_CPU_LOW?:'1'}"
    PROCESS_CPU_HIGH = "${PROCESS_CPU_HIGH?:'2'}"
    PROCESS_MEMORY_VERY_LOW = "${PROCESS_MEMORY_VERY_LOW?:'8000'}"
    PROCESS_MEMORY_LOW = "${PROCESS_MEMORY_LOW?:'8000'}"
    PROCESS_MEMORY_MEDIUM = "${PROCESS_MEMORY_MEDIUM?:'8000'}"
    PROCESS_MEMORY_HIGH = "${PROCESS_MEMORY_HIGH?:'8000'}"
    PROCESS_MEMORY_VERY_HIGH = "${PROCESS_MEMORY_VERY_HIGH?:'16000'}"

    DOCKER_IMAGE_URI_PATH = "${DOCKER_IMAGE_URI_PATH}"
    DOCKER_IMAGE_TAG = "${DOCKER_IMAGE_TAG}"
    NCOV_DOCKER_IMAGE_NAME = "ncov2019-artic-nf-${params.sequencing_technology}"

}

process {
    withName:NCOV2019_ARTIC_NF_PIPELINE {
        container = "${env.NCOV_DOCKER_IMAGE_NAME}:${env.DOCKER_IMAGE_TAG}"
        memory = { "${env.PROCESS_MEMORY_VERY_HIGH}" as int * 1.MB * task.attempt }
        // if the computation for 1 sample dies, do not interrupt the computation for the other samples
        errorStrategy = { (task.exitStatus != 0 && task.attempt<= "${env.PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }
    }
}