// load the main config
includeConfig './common/common.config'

manifest {
    name = "Congenica PSGA/staphylococcus aureus"
    description = "Pathogen Sequence Genome Analysis pipeline for a Staphylococcus aureus"
    author = 'Congenica'
    homePage = 'https://www.congenica.com/'
    mainScript = 'main.nf'
    nextflowVersion = '>= 21.10.4'
    version = '1.0.0'
}

process {
    // default directives
    container = "${env.DOCKER_IMAGE_URI_PATH}/s-aureus-pipeline:${env.DOCKER_IMAGE_TAG}"

    withName: bactopia_one {
        container = "${env.DOCKER_IMAGE_URI_PATH}/s-aureus:${env.DOCKER_IMAGE_TAG}"
        memory = "50G"
        cpus = "10"
    }
}
