// this config is for the nextflow executor

env {
    // docker image config
    DOCKER_IMAGE_PREFIX = "${DOCKER_IMAGE_PREFIX}"
    PSGA_DOCKER_IMAGE_TAG = "${PSGA_DOCKER_IMAGE_TAG}"
    NCOV2019_ARTIC_NF_ILLUMINA_DOCKER_IMAGE_TAG = "${NCOV2019_ARTIC_NF_ILLUMINA_DOCKER_IMAGE_TAG}"
    NCOV2019_ARTIC_NF_NANOPORE_DOCKER_IMAGE_TAG = "${NCOV2019_ARTIC_NF_NANOPORE_DOCKER_IMAGE_TAG}"
    PANGOLIN_DOCKER_IMAGE_TAG = "${PANGOLIN_DOCKER_IMAGE_TAG}"

    // k8s config
    K8S_PULL_POLICY = "${K8S_PULL_POLICY}"
    K8S_SERVICE_ACCOUNT = "${K8S_SERVICE_ACCOUNT}"
    K8S_QUEUE_SIZE = "${K8S_QUEUE_SIZE}"
    K8S_STORAGE_CLAIM_NAME = "${K8S_STORAGE_CLAIM_NAME}"
    K8S_STORAGE_MOUNT_PATH = "${K8S_STORAGE_MOUNT_PATH}"
    K8S_PROCESS_MAX_RETRIES = "${K8S_PROCESS_MAX_RETRIES}"
    K8S_PROCESS_CPU_LOW = "${K8S_PROCESS_CPU_LOW}"
    K8S_PROCESS_CPU_HIGH = "${K8S_PROCESS_CPU_HIGH}"
    K8S_PROCESS_MEMORY_VERY_LOW = "${K8S_PROCESS_MEMORY_VERY_LOW}"
    K8S_PROCESS_MEMORY_LOW = "${K8S_PROCESS_MEMORY_LOW}"
    K8S_PROCESS_MEMORY_MEDIUM = "${K8S_PROCESS_MEMORY_MEDIUM}"
    K8S_PROCESS_MEMORY_HIGH = "${K8S_PROCESS_MEMORY_HIGH}"
    K8S_PROCESS_MEMORY_VERY_HIGH = "${K8S_PROCESS_MEMORY_VERY_HIGH}"

    // copy over these nextflow env vars, as this
    // config is also used for ncov nextflow pipeline
    NXF_WORK = "${NXF_WORK}"
    NXF_EXECUTOR = "${NXF_EXECUTOR}"
    NXF_ANSI_LOG = "${NXF_ANSI_LOG}"
    NXF_OPTS = "${NXF_OPTS}"
}

executor {
    name = 'k8s'
    queueSize = "${env.K8S_QUEUE_SIZE}"
    submitRateLimit = '10 sec'
}

k8s {
   pullPolicy = "${env.K8S_PULL_POLICY}"
   serviceAccount = "${env.K8S_SERVICE_ACCOUNT}"
   storageClaimName = "${env.K8S_STORAGE_CLAIM_NAME}"
   storageMountPath = "${env.K8S_STORAGE_MOUNT_PATH}"
   storageSubPath = ''
}
