params {
    // base config
    // Repo to download your primer scheme from
    schemeRepoURL = 'https://github.com/artic-network/primer-schemes.git'
    // Directory within schemeRepoURL that contains primer schemes
    schemeDir = 'primer-schemes'
    // Scheme name
    scheme = 'nCoV-2019'
    // Scheme version
    schemeVersion = 'V3'

    // illumina workflow config
    // Example of illumina sample: 12704506_S01_L001_R1_001.fq.gz
    // See: https://support.illumina.com/help/BaseSpace_OLH_009008/Content/Source/Informatics/BS/NamingConvention_FASTQ-files-swBS.htm
    illuminaPrefixes = false
    illuminaSuffixes = ['*_S{*}_L{*}_R{1,2}_001']
    fastq_exts = ['.fastq.gz', '.fq.gz']
}
