// this config tells ncov how to run the nanopore workflow
// and it is used by the ncov2019-artic-nf-nanopore pod that spins up ncov nextflow pipeline sub pods

includeConfig 'executor.config'

process {
    executor = 'k8s'

    // common config
    maxRetries = "${env.K8S_PROCESS_MAX_RETRIES}"
    errorStrategy = { (task.exitStatus in 137..140 && task.attempt <= "${env.K8S_PROCESS_MAX_RETRIES}" as int) ? 'retry' : 'ignore' }

    withName:writeQCSummaryCSV {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "${env.K8S_PROCESS_CPU_LOW}"
        memory = { "${env.K8S_PROCESS_MEMORY_LOW}" as int * 1.MB * task.attempt }
    }
    withName:articDownloadScheme {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "${env.K8S_PROCESS_CPU_LOW}"
        memory = { "${env.K8S_PROCESS_MEMORY_LOW}" as int * 1.MB * task.attempt }
    }
    withName:articGuppyPlex {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "${env.K8S_PROCESS_CPU_LOW}"
        memory = { "${env.K8S_PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
    }
    withName:articMinIONMedaka {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "${env.K8S_PROCESS_CPU_LOW}"
        memory = { "${env.K8S_PROCESS_MEMORY_VERY_HIGH}" as int * 1.MB * task.attempt }
    }
    withName:articRemoveUnmappedReads {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "${env.K8S_PROCESS_CPU_LOW}"
        memory = { "${env.K8S_PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
    }
    withName:makeQCCSV {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "${env.K8S_PROCESS_CPU_LOW}"
        memory = { "${env.K8S_PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
    }
    withName:collateSamples {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "${env.K8S_PROCESS_CPU_LOW}"
        memory = { "${env.K8S_PROCESS_MEMORY_HIGH}" as int * 1.MB * task.attempt }
    }
}
