// this config tells ncov how to run the nanopore workflow
// and it is used by the ncov2019-artic-nf-nanopore pod that spins up ncov nextflow pipeline sub pods

includeConfig 'executor.config'

process {
    executor = 'k8s'

    withName:writeQCSummaryCSV {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "1"
        memory = "500 MB"
        errorStrategy = "ignore"
    }
    withName:articDownloadScheme {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "1"
        memory = "500 MB"
        errorStrategy = "ignore"
    }
    withName:articGuppyPlex {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "1"
        memory = "2 GB"
        errorStrategy = "ignore"
    }
    withName:articMinIONMedaka {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "1"
        memory = "4 GB"
        errorStrategy = "ignore"
    }
    withName:articRemoveUnmappedReads {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "1"
        memory = "2 GB"
        errorStrategy = "ignore"
    }
    withName:makeQCCSV {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "1"
        memory = "2 GB"
        errorStrategy = "ignore"
    }
    withName:collateSamples {
        container = "${env.DOCKER_IMAGE_PREFIX}/ncov2019-artic-nf-nanopore:${env.DOCKER_IMAGE_TAG}"
        cpus = "1"
        memory = "2 GB"
        errorStrategy = "ignore"
    }
}
