// keep this configuration separate from the ncov-illumin.config as that is imported in our covid-pipeline nextflow.config.
// by keeping this separate, we avoid warnings related to the processes below being missing
// this config is loaded by modules/artic_ncov2019.nf

env {
    // version for our docker image
    VERSION = "${VERSION}"

    // copy over these nextflow env vars
    NXF_WORK = "${NXF_WORK}"
    NXF_EXECUTOR = "${NXF_EXECUTOR}"
    NXF_ANSI_LOG = "${NXF_ANSI_LOG}"
}

process {
    executor = 'k8s'

    withName:writeQCSummaryCSV {
        container = "ncov2019_artic_nf_nanopore:${env.VERSION}"
    }
    withName:articDownloadScheme {
        container = "ncov2019_artic_nf_nanopore:${env.VERSION}"
    }
    withName:articGuppyPlex {
        container = "ncov2019_artic_nf_nanopore:${env.VERSION}"
    }
    withName:articMinIONMedaka {
        container = "ncov2019_artic_nf_nanopore:${env.VERSION}"
    }
    withName:articRemoveUnmappedReads {
        container = "ncov2019_artic_nf_nanopore:${env.VERSION}"
    }
    withName:makeQCCSV {
        container = "ncov2019_artic_nf_nanopore:${env.VERSION}"
    }
    withName:collateSamples {
        container = "ncov2019_artic_nf_nanopore:${env.VERSION}"
    }
}

k8s {
   storageClaimName = 'covid-pipeline-pvc'
   storageMountPath = '/data'
   storageSubPath = ''
}
