manifest {
    name = 'COVID pipeline'
    description = 'COVID pipeline'
    nextflowVersion = '>= 20.10.0'
    version = '1.0.0'
}

includeConfig 'ncov-illumina.config'

env {
    DB_HOST = "${DB_HOST}"
    DB_PORT = "${DB_PORT}"
    DB_NAME = "${DB_NAME}"
    DB_USER = "${DB_USER}"
    DB_PASSWORD = "${DB_PASSWORD}"
    COVID_PIPELINE_ROOTDIR = "${COVID_PIPELINE_ROOTDIR}"
    COVID_PIPELINE_FASTQ_PATH = "${COVID_PIPELINE_FASTQ_PATH}"
    COVID_PIPELINE_WORKDIR = "${COVID_PIPELINE_WORKDIR}"
    COVID_PIPELINE_REPORTS_PATH = "${COVID_PIPELINE_REPORTS_PATH}"

    // The following env vars are set internally and should not be changed
    COVID_PIPELINE_MISSING_METADATA_PATH = "${env.COVID_PIPELINE_WORKDIR}/no-metadata-found-fastq"
    COVID_PIPELINE_FASTA_PATH = "${env.COVID_PIPELINE_WORKDIR}/reheadered-fasta"
    COVID_PIPELINE_FASTA_PATH_QC_FAILED = "${env.COVID_PIPELINE_WORKDIR}/reheadered-fasta-qc-failed"
    COVID_PIPELINE_GENBANK_PATH = "${COVID_PIPELINE_WORKDIR}/genbank"
}

params {
    /*
     * parameters for ncov2019_artic_nf process
     * ncov2019_artic_nf docker image is passed as a parameter as the process
     * for this pipeine run nextflow itself. Therefore, this docker image
     * is used to configure the --with-docker argument of that internal nextflow
     * execution
     */
    ncov_docker_image = "ncov2019_artic_nf:1.0.0"
    ncov_prefix = "covid_test"

    // parameter for process concatenate_fasta
    // path within container covid-pipeline:1.0.0
    root_genome_fasta = "/app/data/FASTA/SARS-CoV-2.fasta"

    // parameter for GenBank submission template, which is generated
    // at website https://submit.ncbi.nlm.nih.gov/genbank/template/submission/
    // provided default file is an example one. Make sure to generate your own
    // template file
    // path within container covid-pipeline:1.0.0
    genbank_submission_template = "${COVID_PIPELINE_ROOTDIR}/data/GenBank/template.example.sbt"

    // comment to be added to each submission to GenBank
    genbank_submission_comment = "Bahrain SARS-Cov-2 genome submission"

    // User account name that will be provided when the submission account is established.
    // Example: "congenica"
    genbank_submitter_name = ""

    // Center/account abbreviation provided during account creation in MyNCBI.
    // Example: "congenica"
    genbank_submitter_account_namespace = ""

    // Static value to add to every submission ID for GenBank
    genbank_submission_id_suffix = "bahrain-sars-cov-2"

    // GenBank remote storage information with credentials
    genbank_storage_remote_url = "ftp-private.ncbi.nlm.nih.gov"
    genbank_storage_remote_directory = "Test"
    genbank_storage_remote_username = ""
    genbank_storage_remote_password = ""

    // parameter for process load_iseha_metadata
    metadata_file_name = "metadata.tsv"

    // parameters for process generate_report_strain_level_and_global_context
    pangolearn_lineage_notes_url = "https://raw.githubusercontent.com/cov-lineages/pangoLEARN/master/pangoLEARN/supporting_information/lineage_notes.txt"
    pangolearn_metadata_url = "https://raw.githubusercontent.com/cov-lineages/pangoLEARN/master/pangoLEARN/data/lineages.metadata.csv"
    // path within container covid-pipeline:1.0.0
    pangolearn_dir = "/app/data/pangoLEARN"

    microreact_tsv = "microreact.tsv"

    // A parameter, required because of ncov method makeFastqSearchPath
    directory = env.COVID_PIPELINE_FASTQ_PATH
}


process {
    withName:load_iseha_metadata {
        container = 'covid-pipeline:1.0.0'
    }
    withName:reheader_genome_fasta {
        container = 'covid-pipeline:1.0.0'
    }
    withName:load_ncov_assembly_qc_to_db {
        container = 'covid-pipeline:1.0.0'
    }
    withName:prepare_tsv_for_nextstrain {
        container = 'covid-pipeline:1.0.0'
    }
    withName:prepare_microreact_tsv {
        container = 'covid-pipeline:1.0.0'
    }
    withName:pangolin_pipeline {
        container = 'pangolin:1.0.0'
    }
    withName:load_pangolin_data_to_db {
        container = 'covid-pipeline:1.0.0'
    }
    withName:concatenate_fasta {
        container = 'covid-pipeline:1.0.0'
   }
   withName:create_genbank_submission_files {
        container = 'covid-pipeline:1.0.0'
   }
   withName:submit_genbank_files {
        container = 'covid-pipeline:1.0.0'
   }
   withName:mark_samples_as_submitted_to_genbank {
        container = 'covid-pipeline:1.0.0'
   }
   withName:nextstrain_pipeline {
        container = 'nextstrain:1.0.0'
        // run as root as input/output files are moved in the container.
        // UID and GID env vars are passed to fix file permissions
        containerOptions = "--user root --env UID=\$(id -u) --env GID=\$(id -g)"
    }
    withName:load_nextstrain_data_to_db {
        container = 'covid-pipeline:1.0.0'
    }
    withName:generate_report_strain_level_and_global_context {
        container = 'covid-pipeline:1.0.0'
    }
    withName:generate_report_strain_first_seen {
        container = 'covid-pipeline:1.0.0'
    }
    withName:generate_report_strain_prevalence {
        container = 'covid-pipeline:1.0.0'
    }
    withName:generate_report_sample_dump {
        container = 'covid-pipeline:1.0.0'
    }
}


docker {
    enabled = true
    fixOwnership = true
    runOptions = "--user \$(id -u):\$(id -g)"
    envWhitelist = "DB_HOST,DB_PORT,DB_USER,DB_PASSWORD,DB_NAME"
}
