manifest {
    name = 'COVID pipeline'
    description = 'COVID pipeline'
    nextflowVersion = '>= 20.10.0'
    version = '1.0.0'
}

env {
    COVID_PIPELINE_ROOTDIR = "${HOME}/ps-bahrain-covid"
    COVID_PIPELINE_FASTQ_PATH = "${HOME}/Bahrain_COVID_s3_data_lite/sample_data"
    COVID_PIPELINE_WORKDIR = "${HOME}/covid-pipeline"
    COVID_PIPELINE_FASTA_PATH = "${env.COVID_PIPELINE_WORKDIR}/reheadered-fasta"
}

params {
    /* parameters for ncov2019_artic_nf process docker image is passed as
     * a parameter as this process is an actual nextflow execution
     */
    ncov_docker_image = "ncov2019_artic_nf:1.0.0"
    ncov_prefix = "covid_test"
}


process {
    withName:reheader_genome_fasta {
        container = 'covid-pipeline:1.0.0'
    }
    withName:load_ncov_assembly_qc_to_db {
        container = 'covid-pipeline:1.0.0'
    }
    withName:prepare_tsv_for_nextstrain {
        container = 'covid-pipeline:1.0.0'
    }
    withName:pangolin_pipeline {
        container = 'pangolin:1.0.0'
    }
    withName:load_pangolin_data_to_db {
        container = 'covid-pipeline:1.0.0'
    }
}
docker {
    enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
    envWhitelist = "DB_HOST,DB_PORT,DB_USER,DB_PASSWORD,DB_NAME"
}
